/*
 * Copyright (c) 2022 Gleb Sabirzyanov
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>

&spi0 {

  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";
    label = "WS2812";

    /* SPI */
    reg = <0>;
    spi-max-frequency = <5250000>;

    /* WS2812 */
    chain-length = <1>; /* number of LEDs */
    spi-one-frame = <0x70>; /* make sure to configure this properly for your SOC */
    spi-zero-frame = <0x40>; /* make sure to configure this properly for your SOC */
    color-mapping = <LED_COLOR_ID_GREEN
                          LED_COLOR_ID_RED
                          LED_COLOR_ID_BLUE>;
  };
};

/ {
	chosen {
		zmk,kscan = &kscan0;
		zmk,underglow = &led_strip;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct", "waveshare_rp2040_zero";
		label = "KSCAN";

		input-gpios
			= <&gpio0 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

			, <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 25 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 27 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			;
	};
};
