/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0

/ {

	keymap {
		compatible = "zmk,keymap";
		layer_default {
			bindings = <
				&kp N1     &kp N2     &kp N3     &kp N4
				&kp N5     &kp N6     &kp N7     &kp N8
				&kp N9     &kp N0     &kp A
			>;

			sensor-bindings = <
				&inc_dec_kp C_VOL_UP C_VOL_DN
			>;
		};

	};
};