/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&main_encoder { status = "okay"; };

#define DEFAULT 0

/ {

	keymap {
		compatible = "zmk,keymap";
		default_layer {
			bindings = <
			  &kp A     &kp R     &kp T     &kp S     
			  &kp N1     &kp E     &kp Y     &kp I     
			  &kp O     &kp N2
			  &bt BT_CLR
			>;
		};

    // left, right, top, bottom
    sensor-bindings = <
	    &inc_dec_kp C_VOL_UP C_VOL_DN
    >;
	};
};