# Copyright (c) 2022 Gleb Sabirzyanov
# SPDX-License-Identifier: MIT

config SHIELD_SAVIS_WARBLER
	def_bool $(shields_list_contains,savis_warbler)

config SYSTEM_WORKQUEUE_STACK_SIZE
	int "work queue stack size"
  default 4096

config CONFIG_MAIN_STACK_SIZE
	int "main stack size"
  default 2048
